@import url("https://fonts.googleapis.com/css2?family=Righteous");
@import url('https://fonts.googleapis.com/css2?family=Rubik');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,700');

@media only screen and (max-width: 870px) {
	.navbar {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.segment {
		flex-direction: column;
	}
	.left {
		img {
			width: 16vw;
		}
	}
	.right {
		.title {
			font-size: 32px;
		}
		.description {
			font-size: 18px;
		}
	}
	.download-links {
		flex-direction: column;
	}
}
@media only screen and (min-width: 871px) {
	.left {
		img {
			width: 8vw;
		}
	}
	.right {
		.title {
			font-size: 48px;
		}
		.description {
			font-size: 24px;
		}
	}
}
* {
	transition: all 0.5s;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
body {
	color: white;
	margin: auto;
	background-color: #111111;
}
.gradientText {
	background-image: linear-gradient(to right, #7f00ff, #e100ff);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}
.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	// background-color: red;
}
.navbar {
	animation: forwards down 2s;
	display: flex;
	justify-content: space-between;
	align-items: center;
	// background-image: linear-gradient(to right, #000133, #9e237e);
	background-image: linear-gradient(to right, #000000, #0d0018);
	font-family: Righteous, sans-serif;
	#text {
		padding: 10px;
		transform: skew(-15deg);
		font-size: 48px;
	}
	#dev {
		padding: 10px;
		font-size: 24px;
	}
}
.content {
	animation: forwards opacity 2s, up 2s;
	display: flex;
	row-gap: 20px;
	flex-direction: column;
	font-family: Rubik, sans-serif;
}
.segment {
	display: flex;
	justify-content: space-between;
	text-align: center;
	background-color: rgba($color: #ffffff, $alpha: 0.2);
	border-radius: 20px;
	margin: auto;
	width: 70%;
	* {
		margin: 20px;
	}
	.left {
		// flex: 0 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		// img {
		// 	// width: 8vw;
		// 	// max-height: 2vw;
		// 	// border-radius: 15%;
		// }
	}
	.right {
		text-align: center;
		display: flex;
		flex-direction: column;
		// width: 80%;
	}
	.stretch {
		flex: 1 1 auto;
	}
}

.segment:hover {
	background-color: rgba($color: #ffffff, $alpha: 0.3);
	padding: 20px;
	img {
		transform: scale(1.2);
	}
}

.buttonBox {
	display: flex;
	margin: auto;
	.linkButton {
		position: relative;
		border-radius: 15px;
		text-decoration: none;
		color: #ffffff;
		font-family: 'IBM Plex Mono', sans-serif;
		padding: 20px;
		background-color: #333333;
	}
	.linkButton:hover {
		// color: black;
		// background-color: #5000a0;
		box-shadow: 0px 0px 20px 10px #00000055
	}
	.text-index {
		position: relative;
		z-index: 2;
	}
	.linkButton::before {
		transition: all 0.5s;
		content: '';
		position: absolute;
		background-image: linear-gradient(to right, #490092, #9300a6);
		overflow: hidden;
		border-radius: 15px;
		top: 0%;
		left: 0%;
		width: 0%;
		height: 100%;
		opacity: 0;
		z-index: 1;
	}
	.linkButton:hover::before {
		opacity: 1;
		width: 100%;
	}
}
.footer {
	animation: forwards opacity 6s;
	flex-grow: 1;
	padding: 10px;
	row-gap: 10px;
	font-family: Rubik, sans-serif;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
	background-color: #000000;
	a {
		text-decoration: none;
		color: #dddddd;
	}
}
// splashscreen keyframes
@keyframes down {
	from {
		transform: translate(0px, -10vh);
	}
	to {
		transform: translate(0px, 0vh);
	}
}
@keyframes up {
	from {
		transform: translate(0px, 5vh);
	}
	to {
		transform: translate(0px, 0vh);
	}
}
@keyframes opacity {
	from {
		opacity: 0%;
	}
	to {
		opacity: 100%;
	}
}
@keyframes bgColor {
	from {
		background-color: #000000;
	}
	to {
		background-color: #111111;
	}
}